## Numpy Assignment

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [48]:
import numpy as np
import pandas as pd

In [49]:
data = np.array([3,5,7,2,8,10,11,65,72,81,99,100,150])
mov_avg_window_size = 3
iteration = 0
ma_window = len(data) - mov_avg_window_size + 1              

while(iteration < ma_window):        
    curr_window = data[iteration:iteration + mov_avg_window_size]
    print("Iteration {iter}, Current Window: {window}".format(iter = iteration,window = curr_window),end = ', ')
    print("moving average: {:.2f}".format( sum(curr_window) / mov_avg_window_size ))    
    iteration = iteration + 1

Iteration 0, Current Window: [3 5 7], moving average: 5.00
Iteration 1, Current Window: [5 7 2], moving average: 4.67
Iteration 2, Current Window: [7 2 8], moving average: 5.67
Iteration 3, Current Window: [ 2  8 10], moving average: 6.67
Iteration 4, Current Window: [ 8 10 11], moving average: 9.67
Iteration 5, Current Window: [10 11 65], moving average: 28.67
Iteration 6, Current Window: [11 65 72], moving average: 49.33
Iteration 7, Current Window: [65 72 81], moving average: 72.67
Iteration 8, Current Window: [72 81 99], moving average: 84.00
Iteration 9, Current Window: [ 81  99 100], moving average: 93.33
Iteration 10, Current Window: [ 99 100 150], moving average: 116.33

In [50]:
df = pd.DataFrame(data)

df.rolling(window=3).mean().dropna()

             0
2     5.000000
3     4.666667
4     5.666667
5     6.666667
6     9.666667
7    28.666667
8    49.333333
9    72.666667
10   84.000000
11   93.333333
12  116.333333